<h1>Home</h1>
<h3 class='badge text-bg-danger mb-3'>LeWagon</h3>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo, at recusandae corporis, consectetur officiis repudiandae quas quisquam harum qui minus totam excepturi, atque quos commodi non a itaque distinctio dolorum.</p>

<% if user_signed_in? %>
  <p>Hi, <%= current_user.email %></p>
<% end %>